# Which information to display.
# NOTE: If 'ascii' will be used, it must come first.
# Default: first example below
# Valid: space separated string
#
# OFF by default: shell editor wm de palette
export PF_INFO="ascii title os host kernel uptime pkgs memory de palette"

# Enable/Disable colors in output:
# Default: 1
# Valid: 1 (enabled), 0 (disabled)
export PF_COLOR=1

# Which desktop environment to display.
export XDG_CURRENT_DESKTOP=$(basename $DESKTOP_SESSION)

alias pfetch="$HOME/Documents/Git/pfetch/pfetch"
